# Mapbox token — สร้างได้ที่ https://account.mapbox.com/access-tokens
VITE_MAPBOX_TOKEN=pk.ey...

# ใช้ตอน dev local ถ้าอยากชี้ไป backend โดยตรง
# VITE_API_URL=http://localhost:8000

# api llm
GEMINI_API_KEY=gemini_api_key